.skills {
  width: 100%;
  margin-top: 4rem;

  &__title {
    display: flex;
    justify-content: center;
    color: $on-background;
    width: 100%;
    margin-top: 4rem;
  }

  &__wrapper {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: $base-gap-4;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    & > * {
      justify-content: left;
      width: 100%;
      @include md {
        width: 50%;
      }
    }
  }
}
