@use "sass:math";

$border-radius: (
  "border-radius": (
    "prefix": "b-radius",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
);

@each $property, $map in $border-radius {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}

@for $i from 1 through 300 {
  .b-radius-#{$i} {
    border-radius: #{$i}px;
  }
}
