@use "sass:math";

$baseValue: (
  "full": 100%,
  "screen": 100vh,
  "auto": auto,
  "fit": fit-content,
  "max": max-content,
  "min": min-content,
);
$heights: (
  "height": (
    "prefix": "h",
    "values": $baseValue,
  ),

  "min-height": (
    "prefix": "h-min",
    "values": $baseValue,
  ),
  "max-height": (
    "prefix": "h-max",
    "values": $baseValue,
  ),
);

@each $property, $map in $heights {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}

@for $i from 1 through 9000 {
  .h-max\[#{$i}px\] {
    max-height: calc(#{$i} * 1px);
  }
  .h-min\[#{$i}px\] {
    min-height: calc(#{$i} * 1px);
  }
  .h\[#{$i}px\] {
    height: calc(#{$i} * 1px);
  }
  .h-max\[#{$i}em\] {
    max-height: calc(#{$i} * 1em);
  }
  .h-min\[#{$i}em\] {
    min-height: calc(#{$i} * 1em);
  }
  .h\[#{$i}em\] {
    height: calc(#{$i} * 1em);
  }

  @if ($i <= 100) {
    .h-max\[#{$i}\%\] {
      max-height: calc(#{$i}* 1%);
    }
    .h-min\[#{$i}\%\] {
      min-height: calc(#{$i} * 1%);
    }
    .h\[#{$i}\%\] {
      height: calc(#{$i} * 1%);
    }
  }
}
