@use "sass:math";

$line-height: (
  "line-height": (
    "prefix": "line-h",
    "values": (
      "1*": -1rem,
      "2*": -1.75rem,
      "3*": -2rem,
      "1": 1rem,
      "2": 1.75rem,
      "3": 2rem,
      "4": 2.5rem,
      "5": 3rem,
      "6": 3.5rem,
      "7": 4rem,
      "8": 4.5rem,
      "9": 5rem,
      "10": 5.5rem,
      "11": 6rem,
      "12": 6.5rem,
      "13": 7rem,
      "14": 7.5rem,
      "15": 8rem,
      "16": 8.5rem,
      "17": 9rem,
      "18": 9.5rem,
      "19": 10rem,
      "20": 10.5rem,
    ),
  ),
);

@each $property, $map in $line-height {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}
