@use "sass:math";

$values: (
  "0": 0,
  "1": $base-padding,
  "2": $base-padding * 2,
  "3": $base-padding * 4,
  "4": $base-padding * 6,
  "5": $base-padding * 8,
  "6": $base-padding * 10,
);

$margin-width: (
  "margin": (
    "prefix": "m",
    "values": $values,
  ),
  "margin-left": (
    "prefix": "ml",
    "values": $values,
  ),
  "margin-right": (
    "prefix": "mr",
    "values": $values,
  ),
  "margin-top": (
    "prefix": "mt",
    "values": $values,
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": $values,
  ),
  "margin-y": (
    "prefix": "my",
    "values": $values,
  ),
  "margin-x": (
    "prefix": "mx",
    "values": $values,
  ),
);

@each $property, $map in $margin-width {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($property == "margin-y") {
      .mx-#{$k} {
        margin-left: $v;
        margin-right: $v;
      }
      .-mx-#{$k} {
        margin-left: -$v;
        margin-right: -$v;
      }
    } @else if($property == "margin-x") {
      .my-#{$k} {
        margin-top: $v;
        margin-bottom: $v;
      }
      .-my-#{$k} {
        margin-top: -$v;
        margin-bottom: -$v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
      .-#{$prefix}-#{$k} {
        #{$property}: -$v;
      }
    }
  }
}
