@use "sass:math";

$values: (
  "0": 0,
  "1": $base-padding,
  "2": $base-padding * 2,
  "3": $base-padding * 4,
  "4": $base-padding * 6,
  "5": $base-padding * 8,
);

$padding-width: (
  "padding": (
    "prefix": "p",
    "values": $values,
  ),
  "padding-left": (
    "prefix": "pl",
    "values": $values,
  ),
  "padding-right": (
    "prefix": "pr",
    "values": $values,
  ),
  "padding-top": (
    "prefix": "pt",
    "values": $values,
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": $values,
  ),
  "padding-y": (
    "prefix": "py",
    "values": $values,
  ),
  "padding-x": (
    "prefix": "px",
    "values": $values,
  ),
);

@each $property, $map in $padding-width {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($property == "padding-y") {
      .px-#{$k} {
        padding-left: $v;
        padding-right: $v;
      }
      .-px-#{$k} {
        padding-left: $v;
        padding-right: $v;
      }
    } @else if($property == "padding-x") {
      .py-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
      }
      .-py-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
      .-#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
