$positions: (
  "position": (
    "prefix": "ps",
    "values": (
      "a": absolute,
      "r": relative,
      "f": fixed,
      "s": sticky,
      "i": inherit,
      "u": unset,
    ),
  ),
);

@each $property, $map in $positions {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}

.ps-a-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
