@use "sass:math";

.right-auto {
  right: auto;
}

@for $i from 0 through 9000 {
  .right\[#{$i}px\] {
    right: calc(#{$i} * 1px);
  }

  @if ($i <= 100) {
    .right\[#{$i}\%\] {
      right: calc(#{$i}* 1%);
    }
  }
}
