@use "sass:math";

.top-auto {
  top: auto;
}

@for $i from 1 through 9000 {
  .top\[#{$i}px\] {
    top: calc(#{$i} * 1px);
  }

  @if ($i <= 100) {
    .top\[#{$i}\%\] {
      top: calc(#{$i}* 1%);
    }
  }
}
