@use "sass:math";

.test {
  transform: tra;
}
$values: (
  "t": translate,
  "tx": translateX,
  "ty": translateY,
);
$translateDirection: translate, translateX, translateY;

@each $property, $v in $values {
  @for $i from 0 through 9000 {
    @if ($v == translate) {
      .#{$property}\[#{$i}px\] {
        transform: translate(calc($i * 1px), calc($i * 1px));
      }
      .#{$property}\[#{-$i}px\] {
        transform: translate(calc($i * -1px), calc($i * -1px));
      }
      @if ($i <= 100) {
        .#{$property}\[#{$i}\%\] {
          transform: translate(calc($i * 1%), calc($i * 1%));
        }
        .#{$property}\[#{-$i}\%\] {
          transform: translate(calc($i * -1%), calc($i * -1%));
        }
      }
    }
    @if ($v == translateY) {
      .#{$property}\[#{$i}px\] {
        transform: translateY(calc($i * 1px));
      }
      .#{$property}\[#{-$i}px\] {
        transform: translateY(calc($i * -1px));
      }
      @if ($i <= 100) {
        .#{$property}\[#{$i}\%\] {
          transform: translateY(calc($i * 1%));
        }
        .#{$property}\[#{-$i}\%\] {
          transform: translateY(calc($i * -1%));
        }
      }
    }
    @if ($v == translateX) {
      .#{$property}\[#{$i}px\] {
        transform: translateX(calc($i * 1px));
      }
      .#{$property}\[#{-$i}px\] {
        transform: translateX(calc($i * -1px));
      }
      @if ($i <= 100) {
        .#{$property}\[#{$i}\%\] {
          transform: translateX(calc($i * 1%));
        }
        .#{$property}\[#{-$i}\%\] {
          transform: translateX(calc($i * -1%));
        }
      }
    }
  }
}
