@use "sass:math";

$baseValue: (
  "full": 100%,
  "screen": 100vw,
  "auto": auto,
  "fit": fit-content,
  "max": max-content,
  "min": min-content,
);
$widths: (
  "width": (
    "prefix": "w",
    "values": $baseValue,
  ),

  "min-width": (
    "prefix": "w-min",
    "values": $baseValue,
  ),
  "max-width": (
    "prefix": "w-max",
    "values": $baseValue,
  ),
);

@each $property, $map in $widths {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    .#{$prefix}-#{$k} {
      #{$property}: $v;
    }
  }
}

@for $i from 1 through 9000 {
  .h-max\[#{$i}px\] {
    max-width: calc(#{$i} * 1px);
  }
  .h-min\[#{$i}px\] {
    min-width: calc(#{$i} * 1px);
  }
  .h\[#{$i}px\] {
    width: calc(#{$i} * 1px);
  }

  @if ($i <= 99) {
    .h\[#{$i}\%\] {
      width: calc(#{$i}* 1%);
    }
  }
}
