@function light-comp($color) {
  $complement: complement($color);
  $light-complement: lighten($complement, 30%);
  @return $light-complement;
}

@function contrastText($color) {
  $result: invert($color);
  $lightness: lightness($result);
  @if ($lightness < 50) {
    $result: black;
  }
  @return $result;
}
