$font-9xl: 8rem;
$font-8xl: 6rem;
$font-7xl: 4.5rem;
$font-6xl: 3.75rem;
$font-5xl: 3rem;
$font-4xl: 2.25rem;
$font-3xl: 1.875rem;
$font-2xl: 1.5rem;
$font-xl: 1.25rem;
$font-lg: 1.125rem;
$font-base: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
.uppercase {
  text-transform: uppercase;
}

.txt-9xl {
  font-size: $font-9xl;
}
.txt-8xl {
  font-size: $font-8xl;
}
.txt-7xl {
  font-size: $font-7xl;
}
.txt-6xl {
  font-size: $font-6xl;
}
.txt-5xl {
  font-size: $font-5xl;
}
.txt-4xl {
  font-size: $font-4xl;
}
.txt-3xl {
  font-size: $font-3xl;
}
.txt-2xl {
  font-size: $font-2xl;
}
.txt-xl {
  font-size: $font-xl;
}
.txt-lg {
  font-size: $font-lg;
}
.txt-base {
  font-size: $font-base;
}
.txt-sm {
  font-size: $font-sm;
}
.txt-xs {
  font-size: $font-xs;
}

.txt-9xl,
.txt-8xl,
.txt-7xl,
.txt-6xl,
.txt-5xl {
  line-height: 1.1;
}
.txt-4xl,
.txt-3xl {
  line-height: 2.5rem;
  line-height: 2.5rem;
}
.txt-2xl {
  line-height: 2rem;
}
.txt-xl,
.txt-lg {
  line-height: 1.75rem;
}

.txt-lg {
  line-height: 1.5rem;
}
.txt-sm {
  line-height: 1.25rem;
}
.txt-xs {
  line-height: 1rem;
}
