@use "sass:math";
@import "./utilities/borders.module";
@import "./utilities/margins.module";
@import "./utilities/paddings.module";
@import "./utilities/borders-radius.module";
@import "./utilities/display.module";
@import "./utilities/opacities.module";
@import "./utilities/font-weight.module";
@import "./utilities/font-size.module";
@import "./utilities/line-height.module";
@import "./utilities/heights.module";

$utilities: (
  "width": (
    "prefix": "w",
    "values": (
      "full": 100%,
      "screen": 100vw,
      "auto": auto,
      "fit": fit-content,
      "max": max-content,
      "min": min-content,
      "1I2": 50%,
      "1I3": 33.333333%,
      "2I3": 66.666667%,
      "1I4": 25%,
      "2I4": 50%,
      "3I4": 75%,
      "1I5": 20%,
      "2I5": 40%,
      "3I5": 60%,
      "4I5": 80%,
      "1I6": 16.666667%,
      "2I6": 33.333333%,
      "3I6": 50%,
      "4I6": 66.666667%,
      "5I6": 83.333333%,
      "1I12": 8.333333%,
      "2I12": 16.666667%,
      "3I12": 25%,
      "4I12": 33.333333%,
      "5I12": 41.666667%,
      "6I12": 50%,
      "7I12": 58.333333%,
      "8I12": 66.666667%,
      "9I12": 75%,
      "10I12": 83.333333%,
      "11I12": 91.666667%,
    ),
  ),
);

// generate utility classes

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      @if ($property == "height-m") {
        .min-h-#{$k} {
          height: $v;
        }
      } @else {
        .#{$prefix}-#{$k} {
          #{$property}: $v;
        }
      }
    }
  }
}
