@mixin slider-base($opacity: 0) {
  /*  opacity: $opacity; */
}

$slider-from: left, right, top, bottom, "base", "scaleDown", "scaleUp";

@each $val in $slider-from {
  .slider-in-#{$val} {
    @if ($val == top) {
      @include slider-base(0);
      transform: translateY(-100px);
    } @else if($val == bottom) {
      @include slider-base(0);
      transform: translateY(100px);
    } @else if($val == right) {
      @include slider-base(0);
      transform: translateX(100px);
    } @else if($val == left) {
      @include slider-base(0);
      transform: translateX(-100px);
    } @else if($val == "scaleDown") {
      @include slider-base(0);
      transform: perspective(12.5rem) translateZ(30px);
    } @else if($val == "scaleUp") {
      @include slider-base(0);
      transform: perspective(12.5rem) translateZ(-30px);
    } @else {
      @include slider-base(0);
      transform: scale(0.9);
    }
  }
  .on-slider-in-#{$val} {
    @if ($val == top) {
      @include slider-base(1);
      transform: translateY(0px);
    } @else if($val == bottom) {
      @include slider-base(1);
      transform: translateY(0px);
    } @else if($val == right) {
      @include slider-base(1);
      transform: translateX(0px);
    } @else if($val == left) {
      @include slider-base(1);
      transform: translateX(0px);
    } @else if($val == "scaleDown") {
      @include slider-base(1);
      transform: perspective(12.5rem) translateZ(0);
    } @else if($val == "scaleUp") {
      @include slider-base(1);
      transform: perspective(12.5rem) translateZ(0);
    } @else {
      @include slider-base(1);
      transform: scale(1);
    }
  }
}

@keyframes bouncingZ {
  20%,
  50%,
  80%,
  to {
    transform: perspective(12.5rem) translateZ(0);
  }
  40% {
    transform: perspective(12.5rem) translateZ(-30px);
  }
  70% {
    transform: perspective(12.5rem) translateZ(-15px);
  }
  90% {
    transform: perspective(12.5rem) translateZ(-4px);
  }
}

@keyframes slider-in-down {
}
