$bar-width: 60px;
$bar-height: 8px;
$hamburger-gap: 6px;
$foreground: $on-background;
$background: $background;
$hamburger-margin: 8px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc($bar-height * 3 + $hamburger-gap * 2);
$x-width: calc($hamburger-height * 1.41421356237);

@include xs {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: $hamburger-gap;
    width: max-content;
    position: relative;

    z-index: 999;
    cursor: pointer;
  }

  .hamburger-menu:has(input:checked) {
    $background: $on-background;
    $foreground: $background;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid $background;
    box-shadow: $box-shadow;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: $bar-width;
    height: $bar-height;
    background-color: $on-background;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity $animation-timing, width$animation-timing,
      rotate$animation-timing, translate$animation-timing,
      background-color$animation-timing;
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: $x-width;
    translate: 0 calc($bar-height / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: $x-width;
    translate: 0 calc($bar-height / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebartest {
    transition: translate $animation-timing;
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
    background-color: $on-background;
    color: $background;
    max-width: 10rem;
    min-height: 100vh;
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
}
@include lg {
  .hamburger-menu {
    display: none;
  }
}
