@use "sass:math";

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);
  .card-title {
    padding-bottom: $base-padding;
  }
}
