// reset
/* @import "../wellintone_lib/reset.module"; */

@import "../wellintone_lib/functions.module";
@import "../wellintone_lib/variables.module";

@import "../wellintone_lib/base.module";
@import "../wellintone_lib/breakpoint.module";
@import "../wellintone_lib/grid.module";

@import "../wellintone_lib/colors.module";

@import "../wellintone_lib/fonts.module";

@import "../wellintone_lib/animations/word-stagger.module";
@import "../wellintone_lib/animations/parallax.module";
@import "../wellintone_lib/animations/spin.module";
/* @import "../wellintone_lib/animations/fade-in.module"; */
/* @import "../wellintone_lib/animations/slider-in.module"; */

/* NAVBAR */
@import "../wellintone_lib/components/Navbar/navbar.module";
@import "../wellintone_lib/components/Navbar/logo.module";
@import "../wellintone_lib/components/Navbar/navbar-links-list.module";
@import "../wellintone_lib/components/Navbar/navbar-link.module";
@import "../wellintone_lib/components/Navbar/hamburger.module";
@import "../wellintone_lib/components/Navbar/navbar-additional.module";

@import "../wellintone_lib/components/card.module";
@import "../wellintone_lib/components/button.module";
@import "../wellintone_lib/components/badge.module";
@import "../wellintone_lib/components/menu-items.module";

/* CARDS */
@import "../wellintone_lib/components/Cards/card_image_hover.module";
@import "../wellintone_lib/components/Cards/card_service_1.module";

/* SWITCH */
@import "../components/Switch/switch.module";

/* SWITCH */
@import "../components/ImageSlider/imageSlider.module";

/* LOGO WELLINTONE */
@import "../components/Logo/logo.module";

/* PAGES */
@import "./home.module";
@import "../app/\(routes\)/about/about.module";

@import "../wellintone_lib/utilities.module";

.hire_container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.5));
}

.animated_cursor_child {
  transform: translate(var(--x), var(--y));
}
