// reset
@import "@wellintone/wellintone_lib_next/dist";

/* PAGES */
@import "./home.module";
@import "../app/\(routes\)/about/about.module";

// colors

$primary: #ff5c5c !default;
$primary-variant: #ff2d2d !default;
$secondary: #1b9999 !default;
$on-primary: #fafafa;
$on-background: #424242;
$on-background-alt: #424242b3;
$background: #e9e6e0;

$clr-dark: 230 35% 7%;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;

$box-shadow: 0 5px 20px 1px #00000080;
$box-shadow-thin: 0 5px 10px 1px #00000080;

$error: #d32752 !default;
$warning: #f6c31c !default;
$confirmed: #26bb26 !default;
$disabled: #9e9e9e !default;

.hire_container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.5));
}

.animated_cursor_child {
  transform: translate(var(--x), var(--y));
}

#transP {
  height: 100%;
}
.transitionPageTest {
  &__1 {
    transform: translateX(-100vw);
    height: 100%;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 997;
    transition: all 1.4s ease-in-out;
  }
  &__2 {
    transform: translateX(-150vw);
    height: 100%;
    width: 100vw;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    transition: all 1.4s ease-in-out;
  }
  &__3 {
    overflow: hidden;
    transform: translateX(-200vw);
    height: 100%;
    width: 100vw;
    background-color: $on-background;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1.4s ease-in-out;

    .route {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 100px;
      color: $primary;
      padding-top: 50vh;
    }
  }
}

.animateTransitionPageTest {
  &__1 {
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 997;
    transition: all 1.4s ease-in-out;
  }

  &__2 {
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    transition: all 1.4s ease-in-out;
  }

  &__3 {
    overflow: hidden;
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: $on-background;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1.4s ease-in-out;

    .route {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 100px;
      color: $primary;
      padding-top: 50vh;
    }
  }
}
