// reset

@import "../style/index.module";
@import "../components/NavbarMain/Navbar/navbar.module";
@import "../components/Buttons/button.module";
@import "../components/ProgressBar/progressbar.module";
@import "../components/Logo/logo.module";
@import "../components/HireMe/hire-me.module";
@import "../components/Footer/footer.module";
@import "../components/Tab/tab.module";

/* PAGES */
@import "./home.module";
@import "./servicesList/servicesList.module";
@import "./letsBuild/letsBuild.module";

/* ABOUT */
@import "../app/\(routes\)/about/about.module";
@import "../app/\(routes\)/about/skills.module";
@import "../app/\(routes\)/about/experiences/experience-detail.module";
@import "../app/\(routes\)/about/experiences/experiences.module";
@import "../app/\(routes\)/about/education/education-detail.module";
@import "../app/\(routes\)/about/education/educations.module";

/* PROJECTS */
@import "../app/\(routes\)/projects/projects.module";
@import "../app/\(routes\)/projects/featured-projects.module";

/* ARTICLES */
@import "../app/\(routes\)/articles/articles.module";
@import "../app/\(routes\)/articles/article.module";

/* SERVICES */
@import "../app/\(routes\)/services/services.module";

.animated_cursor_child {
  transform: translate(var(--x), var(--y));
}

#transP {
  height: 100%;
}
.transitionPageTest {
  &__1 {
    transform: translateX(-100vw);
    height: 100%;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 997;
    transition: all 1.4s ease-in-out;
  }
  &__2 {
    transform: translateX(-150vw);
    height: 100%;
    width: 100vw;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    transition: all 1.4s ease-in-out;
  }
  &__3 {
    overflow: hidden;
    transform: translateX(-200vw);
    height: 100%;
    width: 100vw;
    background-color: $on-background;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1.4s ease-in-out;

    .route {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 100px;
      color: $primary;
      padding-top: 50vh;
    }
  }
}

.animateTransitionPageTest {
  &__1 {
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 997;
    transition: all 1.4s ease-in-out;
  }

  &__2 {
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    transition: all 1.4s ease-in-out;
  }

  &__3 {
    overflow: hidden;
    transform: translateX(0vw);
    opacity: 1;
    height: 100%;
    width: 100vw;
    background-color: $on-background;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1.4s ease-in-out;

    .route {
      display: flex;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 100px;
      color: $primary;
      padding-top: 50vh;
    }
  }
}
