@use "sass:math";

.container {
  --min-column-size: 20rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );

  padding: $base-padding * 2;

  @include sm {
    padding: $base-padding * 3;
  }
  @include md {
    padding: $base-padding * 3;
  }
  @include lg {
    padding: $base-padding * 4;
  }
  @include xl {
    padding: $base-padding * 6;
  }
  @include xxl {
    padding: $base-padding * 8;
  }
}

.section {
  --min-column-size: 22rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
}

.flexible-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > * {
    flex: 1;
  }
}
