// colors

$primary: #ff5c5c !default;
$primary-variant: #ff2d2d !default;
$secondary: #1b9999 !default;
$on-primary: #fafafa;
$on-background: #424242;
$on-background-alt: #424242b3;
$background: #e9e6e0;

$clr-dark: 230 35% 7%;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;

$box-shadow: 0 5px 20px 1px #00000080;
$box-shadow-thin: 0 5px 10px 1px #00000080;

$error: #d32752 !default;
$warning: #f6c31c !default;
$confirmed: #26bb26 !default;
$disabled: #9e9e9e !default;

/* THEME */

@function getValue($key) {
  @return map-get($array-map, $key);
}

/* END OF THEME */

$colors: (
  "primary": $primary,
  "primary-variant": $primary-variant,
  "secondary": $secondary,
  "on-primary": $on-primary,
  "on-background": $on-background,
  "on-background-alt": $on-background-alt,
  "background": $background,
  "error": $error,
  "warning": $warning,
  "confirmed": $confirmed,
  "disabled": $disabled,
  "red": #ff0000,
  "white": #ffffff,
);

// SPACING

//PADDINGS
$base-padding: 1em !default;
$base-padding-y: $base-padding * 4;
$base-padding-x: $base-padding * 10;
$padding-container: $base-padding-y $base-padding-x;

// GAPS
$base-gap: 1rem !default;
$base-gap-2: $base-gap * 2;
$base-gap-4: $base-gap * 4;
$base-gap-6: $base-gap * 6;
$base-gap-8: $base-gap * 8;
$base-gap-y: $base-gap * 4;
$base-gap-x: $base-gap * 10;
$gap-container: $base-gap-y $base-gap-x;

$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-xs: $base-font-size * 1.75 !default;
$font-size-sm: $base-font-size * 2.75 !default;
$font-size-m: $base-font-size * 3.5 !default;
$font-size-lg: $base-font-size * 4.5 !default;
$font-size-xl: $base-font-size * 6 !default;
$font-size-xxl: $base-font-size * 10 !default;

// gap sizes
$base-gap: 1rem !default;
$gap-xs: $base-gap * 1.75 !default;
$gap-sm: $base-gap * 2.75 !default;
$gap-md: $base-gap * 3.5 !default;
$gap-lg: $base-gap * 4.5 !default;
$gap-xl: $base-gap * 6 !default;
$gap-xxl: $base-gap * 10 !default;
