.navbarLink {
  outline: 0;
  text-align: center;
  position: relative;
  left: 10px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  font-size: $font-size-sm;

  @include lg {
    font-size: $font-size-xs;
  }

  &:hover {
    .bottom__line {
      width: 100%;
      transition: width 0.3s ease-in-out;
    }
  }

  .route {
    text-decoration: none;
    color: $on-background;
  }

  .bottom__line {
    display: inline-block;
    width: 0%;
    background-color: $primary;
    position: absolute;
    left: 0;
    bottom: -0.5px;
    height: 5px;
    transition: width 0.3s ease-in-out;
  }

  .activated {
    transition: width 0.3s ease-in-out;
    width: 100%;
    color: $primary;
  }
}
